target/
logging.properties
*.iml
.idea/
container-conf/lib/*
.DS_Store
/rest/src/main/webapp/apidocs/
/rest/nb-configuration.xml
.flattened-pom.xml
.project
.classpath
.settings/
pom.xml.versionsBackup
